@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,500');

* {
  cursor: default;
}

html {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.01);
  color: rgba(64, 64, 64, 0.90);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

.index {}

.wrapper {
  padding: 128px;
  padding-top: 48px;
}

.wrapper ::selection {
  background: rgba(0, 0, 0, 0.05);
}

.header {
  padding: 24px;
}

.header h1 {
  font-weight: 500;
  letter-spacing: 0.1em;
}

a {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.8);
  padding-bottom: 4px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  border-bottom-style: solid;
  opacity: 1;
}

.index-link,
.header a,
.index a {
  border-color: gray;
  color: gray;
}

.rectangle {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 12px 24px;
  line-height: 2.8em;
}

.rectangle:hover {
  background: rgba(0, 0, 0, 0.02);
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0;
  }

  .home {
    font-size: 0.8em;
  }
}